In [269]:
# Import required libraries
import pandas as pd
import numpy as np
import random
from sklearn.metrics import jaccard_score
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.metrics import pairwise_distances
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import OneHotEncoder
from nltk.metrics import edit_distance

df = pd.read_csv("dataset/Amazon-clothing-info.csv")

## **Study 1 – Similarity Measures on Amazon Apparel Metadata**

To explore various similarity measures across a selection of metadata attributes from the `Amazon-clothing-info.csv` dataset. These measures help in identifying similar items based on different features (such as price, brand, and title) — a critical component in building content-based recommendation systems.



### **Selected Attributes and Corresponding Similarity Measures**

| Attribute              | Description                                  | Type       | Similarity Measure Used       |
|------------------------|----------------------------------------------|------------|-------------------------------|
| `formatted_price`      | Product price                                | Numerical  | Euclidean / Manhattan         |
| `color`                | Color name                                   | Categorical| Jaccard Similarity            |
| `brand`                | Brand name                                   | Categorical| Hamming Distance              |
| `product_type_name`    | Product category/type                        | Categorical| Cosine Similarity (One-Hot)   |
| `title`                | Product title                                | Textual    | Edit Distance (Levenshtein)   |



### **Preprocessing Notes**

- `formatted_price`: Prices were cleaned and converted from string format (e.g., "$25.99") to float.
- Categorical columns like `color`, `brand`, and `product_type_name` were standardized (lowercase, trimmed spaces).
- `title`: Titles were normalized by lowering case and stripping punctuations for edit distance calculations.

---

### **Simulation of 5 Example Similarity Queries**

Below are five requests simulating practical recommendation queries. For each, we compute pairwise similarity to a given item and show the **Top 10 most similar results** based on the selected metric:

1. **Show me clothing with similar price to an item priced at $25.99**  
   → *(Using Euclidean/Manhattan distance on `formatted_price`)*

2. **Show me clothing of the same color as "Pink"**  
   → *(Using Jaccard similarity on `color`)*

3. **Show me clothing from similar brands to "Nike"**  
   → *(Using Cosine similarity on one-hot encoded `brand`)*

4. **Show me clothing in the same category as "pants"**  
   → *(Using Cosine similarity on one-hot encoded `product_type_name`)*

5. **Show me clothing with similar title to "Oxford Shirt"**  
   → *(Using Edit Distance on `title`)*

Each result set will include relevant metadata:  
**`asin`, `title`, `formatted_price`, `color`, `brand`, `product_type_name`**


---

### **Similarity 1: Price Similarity (Euclidean Distance)**

We explore similarity based on product prices using **Euclidean distance**. The `formatted_price` column contains prices in a string format (e.g., "$25.99"), so we first clean and convert these into numerical values.

Euclidean distance allows us to find products with the closest numeric prices.

In [270]:
# --- Preprocessing: Clean and convert 'formatted_price' to numerical float ---
def clean_price(price_str):
    try:
        return float(str(price_str).replace("$", "").replace(",", "").strip())
    except:
        return np.nan

df["formatted_price_clean"] = df["formatted_price"].apply(clean_price)

# Drop rows with missing prices
df_price = df.dropna(subset=["formatted_price_clean"]).copy()

# --- Function: Find Top 10 items with similar price ---
def find_similar_price_items(target_price, top_n=10):
    # Create a temporary column for distance
    df_price["price_distance"] = (df_price["formatted_price_clean"] - target_price).abs()
    similar_items = df_price.sort_values("price_distance").head(top_n)

    return similar_items[["asin", "title", "formatted_price", "color", "brand", "product_type_name", "price_distance"]]

In [271]:
# Example query: Find items similar to $25.99
similar_price_df = find_similar_price_items(9.98)

# Display results
similar_price_df.reset_index(drop=True)

,asin,title,formatted_price,color,brand,product_type_name,price_distance
0,B00ZZR0UGC,Fire Women's Long-sleeve Print Chiffon Fashion...,$9.98,White,Fire,SHIRT,0.0
1,B01M111WN8,Pikolai Vintage Women Long Sleeve Cotton blend...,$9.98,Black,Pikolai,SHIRT,0.0
2,B01M0P91TT,Pikolai Vintage Women Long Sleeve Cotton blend...,$9.98,Red,Pikolai,SHIRT,0.0
3,B071WKG6G6,Mossimo Supply Co Gold Fish Orange Lace Tank/C...,$9.98,Orange,Mossimo Supply Co,SHIRT,0.0
4,B016L14J2G,"Badger Women's Performance Racerback Tank Top,...",$9.98,Electric Blue,Badger,SHIRT,0.0
5,B071X6ZF3G,Reel Legends Womens Freeline V-Neck Top Small ...,$9.98,Black,Reel Legends,SHIRT,0.0
6,B01LZQ4YLK,Pikolai Women Cotton blend Casual Loose Printi...,$9.98,Black,Pikolai,SHIRT,0.0
7,B016L14KY8,"Badger Women's Performance Racerback Tank Top,...",$9.98,Electric Blue,Badger,SHIRT,0.0
8,B0177DOFK8,Navy Strp Racerbck Snit Small Navy,$9.98,Navy,BCX/Byer California,SHIRT,0.0
9,B0721BBB3C,Reel Legends Womens Freeline V-Neck Top Small ...,$9.98,Pink Glow,Reel Legends,SHIRT,0.0

### **Similarity 2: Color Similarity (Jaccard Similarity)**

To compare the **`color`** attribute, we use **Jaccard similarity**. Since colors can contain multiple values (e.g., `"Red/Black"`), we tokenize them into sets of individual color tokens.

The **Jaccard similarity** is computed as:

> Jaccard(A, B) = |A ∩ B| / |A ∪ B|

This helps identify products that share similar color combinations.

In [272]:
# Clean and preprocess
df_color = df[["asin", "title", "color", "brand", "product_type_name"]].copy()
df_color = df_color.dropna(subset=["color"])
df_color = df_color.reset_index(drop=True)

# Convert color strings to sets (e.g., "Red/White" → {"Red", "White"})
df_color["color_set"] = df_color["color"].apply(lambda x: set(x.split("/")))

# Encode with MultiLabelBinarizer
mlb = MultiLabelBinarizer()
color_encoded = mlb.fit_transform(df_color["color_set"])

# Choose a new reference item (e.g., color = "Pink")
reference_index = df_color[df_color["color"].str.contains("Pink", case=False)].index[0]
reference_vector = color_encoded[reference_index]

# Compute Jaccard similarity between reference and all others
similarities = []
for i in range(len(color_encoded)):
    if i == reference_index:
        similarities.append(0)  # skip self-comparison
    else:
        sim = jaccard_score(reference_vector, color_encoded[i])
        similarities.append(sim)

df_color["color_similarity"] = similarities

# Show top 10 most similar products by color
top10_color_similar = df_color.sort_values("color_similarity", ascending=False).head(10)
top10_color_similar[["asin", "title", "color", "brand", "product_type_name", "color_similarity"]]

,asin,title,color,brand,product_type_name,color_similarity
1840,B01E72S5CG,Anskan Women's Spartan Logo Red T-shirt XL Pink,Pink,Anskan,BOOKS_1973_AND_LATER,1.0
761,B01AAZN97K,Active Basic Womens Basic Deep Scoop Neck with...,Pink,Active Products,SHIRT,1.0
4932,B019X6XUTE,INC Womens Plus Embroidered Open Sleeve Peasan...,Pink,INC International Concepts,APPAREL,1.0
10065,B0719L6BN2,Wayf Women's Large Textured Cold-Shoulder Blou...,Pink,WAYF,SHIRT,1.0
7583,B01JZXBZDS,Lush Neon Small Junior Keyhole-Back High-Low B...,Pink,Lush Clothing,SHIRT,1.0
28357,B0759DZSK6,Theory Women's Medium Layered Surplice Blouse ...,Pink,Theory,SHIRT,1.0
7161,B01MTKEW91,Ro & De Womens Medium Scoop-Neck Open-Back Blo...,Pink,Rode,SHIRT,1.0
27662,B01NAWEG5M,TOOGOO(R) Women's spring autumn women long sle...,Pink,TOOGOO(R),OUTERWEAR,1.0
27688,B0759V9R3K,Tommy Hilfiger Plaid Women's Button Down Shirt...,Pink,Tommy Hilfiger,SHIRT,1.0
6939,B06XXSNGLZ,She'sModa Elegant Ruffles Bandage Pink Slim Pu...,Pink,She'sModa,SHIRT,1.0

### **Similarity 3 – Brand Similarity with TF-IDF and Cosine Similarity**

We want to find clothing items that come from **brands textually similar to "Nike"**. To do this, we:
- Apply **TF-IDF vectorization** on the `brand` attribute to convert brand names into numerical vectors.
- Compute **cosine similarity** between the TF-IDF vector of "Nike" and all other brand vectors.
- Display the top 10 closest matches based on highest cosine similarity.

**Cosine similarity** is well-suited for comparing text-based features, as it captures the angle between two vectors regardless of their length. This approach is ideal for partial matches (e.g., `"Nike Sportswear"`, `"Nike Inc."`) and variations in naming conventions.

In [273]:
# Fill missing brand values with empty string
df_brand = df[["brand", "title", "formatted_price"]].fillna("")

# TF-IDF vectorization on 'brand'
tfidf = TfidfVectorizer()
brand_tfidf = tfidf.fit_transform(df_brand["brand"])

# Get the index of the target brand
nike_index = df_brand[df_brand["brand"].str.lower() == "nike"].index[0]

# Compute cosine similarity
cosine_sim = cosine_similarity(brand_tfidf[nike_index], brand_tfidf).flatten()

# Get top 10 similar brands including the original
top_indices = cosine_sim.argsort()[::-1][:10]

# Display the results
df_brand.iloc[top_indices].assign(similarity=cosine_sim[top_indices])

,brand,title,formatted_price,similarity
10984,NIKE,Nike Ohio State Buckeyes 2017 Women's Medium P...,$50.00,1.000000
8941,NIKE,Nike Womens S/S Polo II XX-Large Black/White,$14.95,1.000000
8328,NIKE,Nike Women's Gung-Ho Polo Sky Blue/White XL (L),$29.99,1.000000
7923,Nike,Nike Pro Fierce Lux Dot Bra Womens Style: 6583...,$34.77,1.000000
6780,NIKE,Nike Women's Victory Golf Short Sleeve Polo Sh...,$49.99,1.000000
5275,Nike,Nike Get Fit Lux Womens Tank Top Size XS,$23.91,1.000000
3655,NIKE,Nike Victory Golf Polo 2015 Pewter Grey X-Large,$29.95,1.000000
6385,Nike Golf,Women's Bold Stripe Polo,$20.00,0.672728
6232,Nike Golf,Nike Womens Dri-FIT Micro Pique Polo (354067) ...,$46.52,0.672728
5742,Nike Golf,Nike Golf Women's Sport Polo Two (Chlorine Blu...,$60.00,0.672728

### **Similarity 4 – Category Similarity with Cosine Similarity**

We want to find clothing items that belong to **similar categories as "pants"**. To do this, we:
- Apply **one-hot encoding** on the `product_type_name` attribute to convert categories into binary vectors.
- Compute **cosine similarity** between the encoded vector for "pants" and all other category vectors.
- Display the top 10 closest matches based on the highest cosine similarity.

**Cosine similarity** is suitable for high-dimensional binary data such as one-hot encoded vectors. It measures the angle between two vectors, making it useful for determining the similarity of categorical variables like product types.

In [274]:
# Fill missing values
df_category = df[["product_type_name", "title", "formatted_price"]].fillna("")

# One-hot encode 'product_type_name'
encoder = OneHotEncoder(sparse_output=False)
category_encoded = encoder.fit_transform(df_category[["product_type_name"]])

# Get the index of the reference category
pants_index = df_category[df_category["product_type_name"].str.lower() == "pants"].index[0]

# Compute cosine similarity
category_sim = cosine_similarity([category_encoded[pants_index]], category_encoded).flatten()

# Get top 10 results (including 'pants' item itself)
top_indices = category_sim.argsort()[::-1][:10]

# Display results
df_category.iloc[top_indices].assign(similarity=category_sim[top_indices])

,product_type_name,title,formatted_price,similarity
24384,PANTS,GENERATION LOVE Womens Tribal Pattern Lace Ins...,$59.00,1.0
18343,PANTS,New 2 Pc Womens Racerback Tank Top Seamless Sl...,$19.56,1.0
17856,PANTS,Dickies - 1254 Women's Button-Down Oxford Shir...,$19.99,1.0
25120,PANTS,Victoria's Secret Pink NEW Bling Muscle Tee Ta...,$49.50,1.0
21065,PANTS,Cable & Gauge Womens Crossover Chiffon-Hem Hig...,$28.95,1.0
18428,PANTS,"Ideology Women's Graphic Training Leggings, No...",$49.50,1.0
24187,PANTS,Victoria's Secret Pink NEW Bling Muscle Tee Ta...,$49.50,1.0
26407,PANTS,"Tossed Pocket Print Top Size: Large, Color: Gemma",$22.99,1.0
19250,PANTS,Victoria's Secret Pink NEW Muscle tee Tank Col...,$39.50,1.0
20262,PANTS,New 3 Pc Womens Racerback Tank Top Seamless Sl...,$27.89,1.0

### **Similarity 5 – Title Similarity with Edit Distance**

We want to find clothing items with **titles similar to "Oxford Shirt"**. To achieve this, we:

- Preprocess the `title` column by converting all entries to lowercase and removing surrounding whitespace.
- Compute the **Levenshtein (edit) distance** between `"Oxford Shirt"` and each product title.
- Normalize the edit distance to a similarity score using the formula:
  
  $$
  \text{similarity} = 1 - \frac{\text{edit\_distance}}{\max(\text{len(title)}, \text{len(reference)})}
  $$


- Display the top 10 titles with the highest similarity scores.

In [275]:
# Define reference title
reference_title = "oxford shirt"

# Prepare and clean data
df_title = df[["title", "product_type_name", "formatted_price", "brand"]].copy()
df_title["title_clean"] = df_title["title"].astype(str).str.lower().str.strip()

# Compute edit distance similarity
similarities = []
for title in df_title["title_clean"]:
    dist = edit_distance(reference_title, title)
    max_len = max(len(reference_title), len(title))
    similarity = 1 - dist / max_len if max_len > 0 else 0
    similarities.append(similarity)

df_title["title_similarity"] = similarities

# Show top 10 most similar products by title
top_similar = df_title.sort_values("title_similarity", ascending=False)
df_title[df_title["title_clean"].str.contains("oxford")][["title", "product_type_name", "formatted_price", "brand"]].head(10)

,title,product_type_name,formatted_price,brand
98,Fjallraven - Women's Ovik Foxford Shirt Longsl...,SHIRT,$88.00,Fjallraven
143,"FeatherLite Ladies Long Sleeve Oxford Shirt, W...",SHIRT,$21.65,FeatherLite
156,"FeatherLite Ladies Long Sleeve Oxford Shirt, L...",SHIRT,$21.78,FeatherLite
198,Fjallraven - Women's Ovik Foxford Shirt Longsl...,SHIRT,$88.00,Fjallraven
207,"FeatherLite Ladies Long Sleeve Oxford Shirt, F...",SHIRT,$21.84,FeatherLite
210,"FeatherLite Ladies Long Sleeve Oxford Shirt, L...",SHIRT,$21.65,FeatherLite
236,Fjallraven - Women's Ovik Foxford Shirt Longsl...,SHIRT,$88.00,Fjallraven
238,"FeatherLite Ladies Long Sleeve Oxford Shirt, L...",SHIRT,$21.84,FeatherLite
239,"FeatherLite Ladies Long Sleeve Oxford Shirt, F...",SHIRT,$21.65,FeatherLite
262,"FeatherLite Ladies Long Sleeve Oxford Shirt, F...",SHIRT,$21.78,FeatherLite


---
## **Study 4: Collaborative Filtering Recommendation System**

We will build a collaborative filtering recommendation system using the `Clothing-Reviews.csv` and enhance the result with `Amazon-clothing-info.csv`. Since the full dataset is too large to load into memory, we'll work with a manageable sample.

### **Step 1 – Load a Sample of Review and Metadata**

We'll load a random sample of the reviews and product metadata to make matrix factorization feasible in memory.

In [276]:
# Load a 10% sample from reviews (or a smaller chunk if needed)
sample_reviews = pd.read_csv("dataset/Clothing-Reviews.csv", usecols=["asin", "review_userId", "review_score"]).sample(frac=0.3, random_state=42)

# Drop missing ratings or user/item identifiers
sample_reviews = sample_reviews.dropna(subset=["asin", "review_userId", "review_score"])

# Load product metadata (only columns we care about)
df_meta = pd.read_csv("dataset/Amazon-clothing-info.csv", usecols=["asin", "title", "brand", "product_type_name", "color", "formatted_price"])
# Drop missing and zero reviews
sample_reviews = sample_reviews.dropna(subset=["asin", "review_userId", "review_score"])
sample_reviews = sample_reviews[sample_reviews["review_score"] > 0]


sample_reviews.head(11)

             asin   review_userId  review_score
13247  B071GTYV9W  A230638UXBZGHX             5
31911  B074CTN7XZ  A1TVYW8P4PBYDO             1
45433  B06ZZYG4BL  A22VOPWM9ZEVRF             2
26801  B01M8F3EHV  A1N18VL1NLA7QO             5
36814  B01HT0IAWI  A1O8U56QCMNF0H             5
41837  B0747VDN8J  A36DBCK09V0Q02             1
7289   B071V8VJJT   AL15IONABJ8UO             5
8976   B072N84K5G  A3SHQ1F6XDD4KS             5
12725  B0753ZPV9B    A9Q25QH14D9R             3
48700  B007GBW3U6   AA3GUO8MLNIJK             5
31165  B07319BGZ2  A2AHCHIZLJ7HHX             2

### Step 2 – Build the Utility Matrix

We’ll create a **User-Item (Utility) Matrix** from the sampled reviews. Each row represents a user, each column represents an item (`asin`), and the cell value is the `review_score`.

We'll use matrix factorization on this matrix to learn latent features for users and items.

In [277]:
# 1. Filter again to be 100% sure
sample_reviews = sample_reviews.dropna(subset=["asin", "review_userId", "review_score"])
sample_reviews = sample_reviews[sample_reviews["review_score"] > 0]

# 2. Keep only ASINs with at least 3 reviews
asin_counts = sample_reviews["asin"].value_counts()
valid_asins = asin_counts[asin_counts >= 3].index
sample_reviews = sample_reviews[sample_reviews["asin"].isin(valid_asins)]

# 3. (NEW) Keep only users who reviewed multiple of these valid ASINs
user_counts = sample_reviews["review_userId"].value_counts()
valid_users = user_counts[user_counts >= 2].index
sample_reviews = sample_reviews[sample_reviews["review_userId"].isin(valid_users)]

# 4. Rebuild utility matrix
utility_matrix = sample_reviews.pivot_table(
    index="review_userId",
    columns="asin",
    values="review_score"
).fillna(0)

# 5. Drop users who gave zero after pivoting
utility_matrix = utility_matrix.loc[utility_matrix.sum(axis=1) > 0]

utility_matrix.head()

sample_reviews.head(10)
sample_reviews["review_score"].describe()

count    10587.000000
mean         4.138850
std          1.270362
min          1.000000
25%          4.000000
50%          5.000000
75%          5.000000
max          5.000000
Name: review_score, dtype: float64

###  Step 3 – Apply Matrix Factorization (SVD)

We'll use **TruncatedSVD** to decompose the utility matrix into latent matrices **P** (users) and **Q** (items). These can then be multiplied to predict ratings for missing entries.

Let’s pick a number of latent dimensions (e.g. 20).

In [636]:
from sklearn.decomposition import TruncatedSVD

# Step 1: Replace 0s with NaN (marking unrated items)
utility_nan = utility_matrix.replace(0, np.nan)

# Step 2: Compute user means
user_means = utility_nan.mean(axis=1)

# Step 3: Mean-center the matrix (subtract user average)
centered_matrix = utility_nan.sub(user_means, axis=0).fillna(0)

# Step 4: Apply SVD
k = 200
svd = TruncatedSVD(n_components=k, random_state=42)
P = svd.fit_transform(centered_matrix)
Q = svd.components_

# Step 5: Reconstruct predictions
pred_centered = pd.DataFrame(P @ Q, index=utility_matrix.index, columns=utility_matrix.columns)

# Step 6: Add user means back
predicted_ratings = pred_centered.add(user_means, axis=0)

# Step 7: Clip to valid rating range [1, 5]
predicted_ratings = predicted_ratings.clip(1, 5)

# Preview distribution
predicted_ratings.describe()

asin,B000M9R322,B000SJG9C6,B000VA0K5O,B0014DLE5C,B001HWXGYC,B002KG7U1Y,B0032G4LRC,B00369ZZO8,B003BSQPW0,B003BSQPX4,...,B07591PYDY,B07591QS2J,B075928J4C,B07592CNV7,B0759QTFHN,B0759S2774,B0759VZZN7,B0759WC7S8,B0759WL3FV,B0759Y5MYT
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,...,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,4.141715,4.131228,4.130841,4.139555,4.141036,4.142837,4.138251,4.135425,4.132475,4.140656,...,4.137923,4.142583,4.128734,4.130869,4.139567,4.139537,4.139011,4.141826,4.153263,4.132368
std,0.396363,0.420067,0.417828,0.398701,0.396473,0.399204,0.397505,0.400936,0.420677,0.399197,...,0.396722,0.397023,0.494598,0.413545,0.396062,0.397319,0.411867,0.397303,0.442683,0.429035
min,2.000000,1.824920,1.361737,2.000000,2.000000,2.000000,2.000000,2.000000,1.475528,2.000000,...,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,1.921454,2.000000,1.000000,1.792321
25%,3.884078,3.866617,3.871104,3.877461,3.888278,3.888154,3.890401,3.880363,3.887279,3.882752,...,3.885424,3.881992,3.868452,3.879633,3.888448,3.887417,3.877882,3.893858,3.890559,3.881719
50%,4.166328,4.164114,4.165678,4.168410,4.168296,4.165530,4.161167,4.166208,4.168015,4.164517,...,4.163184,4.177641,4.164870,4.156778,4.162818,4.167092,4.172367,4.169102,4.176226,4.170568
75%,4.423558,4.419258,4.419074,4.425237,4.421571,4.415889,4.414882,4.414256,4.425763,4.421306,...,4.416365,4.420722,4.444320,4.420850,4.425868,4.415901,4.427440,4.421168,4.445577,4.422258
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

### **Step 4 – Recommend Products for Users**

In this step, we use the predicted ratings (obtained from matrix factorization) to generate top-N product recommendations for randomly selected users.

#### What we do:

- **Select 3 random users** from the predicted ratings matrix.
- For each user:
  - Identify the items that the user **has not rated** (unseen items).
  - Sort these unseen items by their **predicted scores**.
  - Retrieve the **Top 10 highest-scored items**.
- Merge the recommended items with the **product metadata** (`Amazon-clothing-info.csv`) to show enriched item details such as title, brand, product type, and price.

This simulates how a recommender system would suggest new, potentially liked items to users based on their past interactions.

In [645]:
# Select 3 random users
user_ids = predicted_ratings.index.to_list()
sample_users = random.sample(user_ids, 3)



# Map of what users have already rated
rated_by_users = sample_reviews.groupby("review_userId")["asin"].apply(set).to_dict()

# Collect recommendations
recommendations = {}

for user in sample_users:
    # Get predicted scores in descending order
    user_preds = predicted_ratings.loc[user].sort_values(ascending=False)

    # Remove already rated items
    unseen_items = [asin for asin in user_preds.index if asin not in rated_by_users.get(user, set())]

    # Select top 10 unseen recommendations
    top_items = user_preds.loc[unseen_items].head(10).reset_index()
    top_items.columns = ["asin", "predicted_score"]

    # Join metadata for display
    top_items = pd.merge(top_items, df_meta, on="asin", how="left")

    # Sort again just in case (if merging altered order)
    top_items = top_items.sort_values("predicted_score", ascending=False)

    recommendations[user] = top_items


recommendations[sample_users[0]][["asin", "title", "brand", "product_type_name", "formatted_price", "predicted_score"]]

,asin,title,brand,product_type_name,formatted_price,predicted_score
0,B0732WVQNW,"Zodaca Cheetah Face Chiffon Poncho, Multi-color",Zodaca,SHIRT,$9.99,4.282274
1,B01N4JMS11,Nike Ohio State Buckeyes 2017 Women's Medium P...,NIKE,SHIRT,$50.00,4.234502
2,B018ROY8YY,Krezy Case Girls Psycho Tank Top -Xtra Large W...,Krezy Case,SHIRT,$14.99,4.178556
3,B072TB88L8,"American Rag Juniors Crocheted Halter Crop, Co...",American Rag,SHIRT,$34.99,4.167667
4,B0014DLE5C,Jm Collection Ribbon Textured Printed Tee Pink...,Tasso Elba,SHIRT,$8.37,4.163097
5,B01N1UFZRD,Jessica Simpson Women's Poppy Button-Down Shir...,Fancy Jessica Simpson,SHIRT,$69.50,4.158538
6,B0732J9K45,Fever Women's Double Layer Sleeveless Blouse (...,Fever,SHIRT,$11.18,4.148796
7,B01G4MJ38W,Cool Gadsden Rattlesnake Flags Women 3/4 Sleev...,Gabriel Platt,BOOKS_1973_AND_LATER,$17.99,4.105290
8,B073FK1T5N,Pleione Coral Womens Small Pleat-Front Chiffon...,Pleione,SHIRT,$9.48,4.101584
9,B072VYXPZC,Moon For BP. Wine Small Junior Twilight Knit T...,BP,SHIRT,$8.99,4.092765

### Step 5 – Evaluate Predictions

We now evaluate how well our collaborative filtering model performs by comparing the predicted ratings to actual ratings.

We'll perform **quantitative evaluation** using the following metrics:

- **Mean Squared Error (MSE)**  
  Measures the average squared difference between predicted and true ratings.

- **Precision@K (e.g., K=5)**  
  Measures the proportion of relevant items (e.g., rated 4 or 5 in true ratings) in the top-K recommended items.

- **Mean Reciprocal Rank (MRR)**  
  Captures the average position of the first relevant item across all users’ recommendation lists.

We ensure that the true and predicted matrices align in shape and order, then compute the scores accordingly.

In [649]:
# Convert utility matrix and predictions to NumPy
true_ratings_matrix = utility_matrix.values
pred_ratings_matrix = predicted_ratings.values

# Evaluation functions
from sklearn.metrics import mean_squared_error
import numpy as np

def evaluate_mse(true, pred):
    mask = true > 0
    return mean_squared_error(true[mask], pred[mask])

def precision_at_k(preds, true, k=5):
    precision_scores = []
    for user_pred, user_true in zip(preds, true):
        top_k_indices = np.argsort(user_pred)[::-1][:k]
        relevant = user_true[top_k_indices] >= 4
        precision = np.sum(relevant) / k
        precision_scores.append(precision)
    return np.mean(precision_scores)

def mean_reciprocal_rank(preds, true):
    ranks = []
    for user_pred, user_true in zip(preds, true):
        sorted_indices = np.argsort(user_pred)[::-1]
        relevant_indices = np.where(user_true[sorted_indices] >= 4)[0]
        if relevant_indices.size > 0:
            ranks.append(1 / (relevant_indices[0] + 1))
        else:
            ranks.append(0)
    return np.mean(ranks)

# Compute metrics
mse_score = evaluate_mse(true_ratings_matrix, pred_ratings_matrix)
precision_score = precision_at_k(pred_ratings_matrix, true_ratings_matrix, k=5)
mrr_score = mean_reciprocal_rank(pred_ratings_matrix, true_ratings_matrix)

print(f"MSE: {mse_score:.4f}")
print(f"Precision@5: {precision_score:.4f}")
print(f"MRR: {mrr_score:.4f}")

MSE: 0.2419
Precision@5: 0.8072
MRR: 0.9746

### Evaluation Results

After computing the metrics from our collaborative filtering model, we obtained the following results:

- **Mean Squared Error (MSE)**: `0.2419`  
  → Moderate prediction error; model captures overall rating trends but has room for improvement in precision.

- **Precision@5**: `0.8072`  
  → Over 80% of the top-5 recommendations are relevant (rated 4 or 5), showing strong precision at the top ranks.

- **Mean Reciprocal Rank (MRR)**: `0.9746`  
  → The first relevant recommendation is almost always ranked in the top position, indicating excellent ranking quality.

These results suggest that our model performs very well at surfacing highly relevant recommendations early, with strong ranking accuracy and competitive prediction quality.

### Step 6 – Simulate Personalized Recommendations

We randomly selected **3 users** from the review dataset and recommended the **Top 10 unrated products** for each based on our SVD prediction matrix.

Each recommended item is enriched with metadata (title, brand, price, color, etc.) using the `Amazon-clothing-info.csv` file.

Below is an example showing the personalized recommendations for one user. You can repeat the display for the other users in `sample_users`.

This completes the simulation part of our collaborative filtering engine!

In [659]:
# Choose 3 users from the utility matrix
random.seed(1)  # For reproducibility
sample_users = random.sample(list(utility_matrix.index), 3)

recommendations = {}

for user_id in sample_users:
    # Items the user hasn't rated
    rated_items = utility_matrix.loc[user_id]
    unrated_items = rated_items[rated_items == 0].index
    
    # Get predicted scores for unrated items
    user_preds = predicted_ratings.loc[user_id, unrated_items]
    top_items = user_preds.sort_values(ascending=False).head(10).index
    
    # Fetch metadata for top recommended items
    top_info = df_meta[df_meta["asin"].isin(top_items)]
    top_info = top_info.assign(predicted_score=user_preds[top_info["asin"]].values)
    
    recommendations[user_id] = top_info.sort_values("predicted_score", ascending=False)

# Example: Show recommendations for users
recommendations[sample_users[0]][["asin", "title", "brand", "color", "formatted_price", "predicted_score"]]

,asin,title,brand,color,formatted_price,predicted_score
6767,B00DUXYG0O,Russell Athletic Women's Gameday Polo,Russell Athletic,White|Royal Blue,$26.96,4.869893
8301,B0193MZHIK,Jachs Girlfriend Plaid Women's Flannel Roll Ta...,JACHS Girlfriend,Teal Blue,$19.99,4.785743
50,B014A4FMOK,Women's Cute Tshirts - My Chemical Romance Pur...,HX-Kingdom Fashion T-shirts,Purple,$9.99,4.763844
3820,B072JWFXPM,Free Press Women's Medium Floral Daisy Flutter...,Free Press,Pink,$11.97,4.741922
10438,B00ELC54AE,North End Womens SymmetryCoffee Performance Po...,Ash City,Black 703,$23.59,4.677833
4486,B017CJYJ4Y,Joyci Hot Girl's Stylish Dot Printing Blouse D...,Joyci,As Picture,$9.59,4.676906
3450,B010V380LQ,Doxi Harajuku Women Crop Top Letter Summer for...,Doxi Supermall,White,$11.73,4.651676
3233,B01GRY925Q,PLEIONE Deep Womens Medium Tab-Sleeve Chiffon ...,Pleione,Black,$31.47,4.645156
6314,B018X0HEGQ,Km Women's Five Pairs of Cartoon Cute Breathab...,KM SOCK,Red,$8.99,4.639667
51,B06XP6376B,Felina 2 Pack Fine Ribbed Tank Charcoal Gray/P...,Felina,Charcoal Gray/Purple,$19.95,4.639347

In [660]:
# Display recommendations for all 3 users
for user_id in sample_users:
    print(f"\nTop Recommendations for User: {user_id}")
    display(
        recommendations[user_id][
            ["asin", "title", "brand", "product_type_name", "color", "formatted_price", "predicted_score"]
        ]
    )

Top Recommendations for User: A1LVZI3QBCW9A0

,asin,title,brand,product_type_name,color,formatted_price,predicted_score
6767,B00DUXYG0O,Russell Athletic Women's Gameday Polo,Russell Athletic,SHIRT,White|Royal Blue,$26.96,4.869893
8301,B0193MZHIK,Jachs Girlfriend Plaid Women's Flannel Roll Ta...,JACHS Girlfriend,SHIRT,Teal Blue,$19.99,4.785743
50,B014A4FMOK,Women's Cute Tshirts - My Chemical Romance Pur...,HX-Kingdom Fashion T-shirts,SHIRT,Purple,$9.99,4.763844
3820,B072JWFXPM,Free Press Women's Medium Floral Daisy Flutter...,Free Press,SHIRT,Pink,$11.97,4.741922
10438,B00ELC54AE,North End Womens SymmetryCoffee Performance Po...,Ash City,SHIRT,Black 703,$23.59,4.677833
4486,B017CJYJ4Y,Joyci Hot Girl's Stylish Dot Printing Blouse D...,Joyci,SHIRT,As Picture,$9.59,4.676906
3450,B010V380LQ,Doxi Harajuku Women Crop Top Letter Summer for...,Doxi Supermall,SHIRT,White,$11.73,4.651676
3233,B01GRY925Q,PLEIONE Deep Womens Medium Tab-Sleeve Chiffon ...,Pleione,SHIRT,Black,$31.47,4.645156
6314,B018X0HEGQ,Km Women's Five Pairs of Cartoon Cute Breathab...,KM SOCK,SHIRT,Red,$8.99,4.639667
51,B06XP6376B,Felina 2 Pack Fine Ribbed Tank Charcoal Gray/P...,Felina,SHIRT,Charcoal Gray/Purple,$19.95,4.639347

Top Recommendations for User: A3BNRK3I57TNZF

,asin,title,brand,product_type_name,color,formatted_price,predicted_score
9966,B016D9GU28,Joyci New Classic Decor Plaids Dickey Blouse F...,Joyci,SHIRT,Grid a Wine Red,$12.99,4.700057
3683,B01KS9EH38,Michael Kors - City Print Fashion Tee Shirt - ...,Michael Kors,SHIRT,Crew Blue,$41.00,4.665358
1609,B01N37HJI9,Allison Brittney Womens Knit Camisole Tank Top...,Allison Brittney,SHIRT,Navy Blue,$4.98,4.633769
543,B00RIB1RF6,Il Migliore 77004 LADIES' WRINKLE RESISTANT LO...,Ash City,SHIRT,White,$11.99,4.607842
3371,B000SJG9C6,"Tail-Activewear Aileen Cap Sleeve Top, Island ...",Tail-Activewear,SHIRT,Island Stripe Print,$35.00,4.599150
7592,B01EG4D2XM,VICTORIA'S SECRET short sleeve T-Shirt Medium ...,Victoria's Secret,SHIRT,hot orange / heather grey,$36.99,4.596165
5643,B01DS46AVM,Fashion comfotable blouse dress O-Neck tshirt ...,bankhunyabangyai store,SHIRT,White,$26.98,4.585029
4842,B01LA4RU4I,Wallpapher Women's Small Open Crochet Back Blo...,WALLPAPHER,SHIRT,Red,$11.97,4.563032
7388,B06XRKVDMT,Ted Baker Vangeli 3 As Shown,Ted Baker,SHIRT,Purple,$57.00,4.562162
996,B00IABDW4C,Juniors: Back to the Future - Mr Fusion Logo J...,Back To The Future,SHIRT,White,$15.07,4.548801

Top Recommendations for User: AVOTFUPS24JI0

,asin,title,brand,product_type_name,color,formatted_price,predicted_score
4050,B0759Y5MYT,Nettailor Women Larger PLUS & ALL SIZE 4081 La...,NETTAILOR,SHIRT,Black,$339.00,4.739434
1796,B07232G5JN,American Rag Frost Grey Top Blouse Elbow-Sleev...,American Rag,SHIRT,Frost Grey,$12.49,4.705501
10934,B073P9D2QP,Love On A Hanger Womens Medium Embroidered Hal...,Love on a Hanger,SHIRT,Oranges,$44.00,4.677425
10039,B01NHEUGXE,Summer Women Boho Top Short Sleeves Blouse Cas...,Ibaexports,SHIRT,Gray,$27.64,4.624048
10035,B01M5GI95R,Sand Whip Stitch Plus Size Tank Top - Size 24 ...,City Chic,SHIRT,Sand,$59.00,4.623032
9421,B074LD7G7K,KpopBaby Womens Long Sleeve Knitted Casual Car...,KpopBaby,SHIRT,Amry Green,$12.69,4.619148
4278,B01NCLUT8H,Esprit Women's Grey Melange Women's Printed Ju...,Esprit,SWEATER,Multicoloured (Medium Grey 5),$109.97,4.575465
4687,B074Q2P5DZ,City Chic Women's Plus Size Short-Sleeve Off-S...,City Chic,SHIRT,Black,$38.92,4.554783
10040,B01N1EWRNP,Eagle u2 women's popular Tee The Sanctum Movem...,Eagle,SHIRT,Red,$8.99,4.539973
238,B003BSQPW0,"FeatherLite Ladies Long Sleeve Oxford Shirt, L...",FeatherLite,SHIRT,Blue,$21.84,4.528989

### **Recommendation Results**

We generated top-10 product recommendations for a random sample of users using our collaborative filtering system. The predicted scores were sorted in descending order, and previously rated items were excluded to ensure novelty.


### Observations

- **Confidence**: Most predicted scores fall between 4.5–4.8, suggesting high model confidence in user interest.
- **Personalization**: The recommendations vary widely across users, showing the system’s adaptability to individual preferences.
- **Diversity**: Products span multiple price points, colors, and brands, avoiding overfitting or bias.

These examples illustrate the strength of our matrix factorization-based recommender in delivering accurate and meaningful suggestions, making it suitable for fashion e-commerce or similar applications.